################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExamSimulation/.vs/ExamSimulation/v16
/.vs/ExamSimulation/v16
/.vs
/ExamSimulation/Debug
/ExamSimulation/.vs/ExamSimulation
/ExamSimulation/x64/Debug
